# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos py
build_measure_update_defs.py
prepare_measure_updates.py

# Arquivos json
measure_defs_from_md.json
measure_defs_md.json
measure_move_defs.json
measure_move_defs.json
measure_update_summary.json
measures_to_update.json
measure_update_defs.json
update_defs_normalized.json

# Arquivos txt
measure_defs_from_md.txt
measures_extracted.txt
analysis_checklist.txt

# Arquivos sql
querys.sql

# Arquivos Markdown
estrutura_atual.md
MEDIDAS_DAX_RICK_AND_MORTY.md

# Pastas
Design_Dash_Rick_and_Morty/

# Arquivos Airflow
.git
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
